repos:

  - repo: https://github.com/astral-sh/ruff-pre-commit 
    rev: v0.13.1  
    hooks:
      - id: ruff-check 
        exclude: ^tests/
        args: [--fix, --exit-non-zero-on-fix] 
      - id: ruff-format
      
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2   # Use the latest MyPy version
    hooks:
      - id: mypy
        # Additional arguments to MyPy can be added here
        args: 
          - --check-untyped-defs
          # - --disallow-untyped-defs
          # - --strict-optional
          - --implicit-optional
          # - --warn-return-any
          - --warn-redundant-casts
          - --warn-unreachable
          # - --disallow-any-generics           
          # - --strict        
          - --install-types
          - --non-interactive   
          - --ignore-missing-imports
          - --show-error-codes 
        additional_dependencies: 
          - types-requests
          - types-PyYAML
          - types-toml    
          - pytest-mypy
          - types-Pillow
          - types-reportlab
          - pyqt6 
          - nostr_sdk
 


  - repo: local
    hooks:
      - id: pyright
        name: Pyright Type Check (npm install -g pyright)
        entry: bash -c 'if command -v pyright >/dev/null; then pyright; else echo "pyright not installed, skipping..."; exit 0; fi'
        language: system
        types: [python]
        pass_filenames: false
